/*===============================
  Base
	===============================*/

html {
	font-size: 100%;
}

@media (max-width: 1440px) {
	html {
		font-size: 75%;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 68.75%;
	}
}

@media (max-width: 1024px) {
	html {
		font-size: 62.5%;
	}
}
/*   
  @media (max-width: 768px) {
    html {
      font-size: 16px;
    }
  }
   */
body {
	background: var(--color-bg-primary);
	color: var(--color-text-primary);
}

.body--menu-opened {
	overflow: hidden;
	/* position: fixed; */
}
