/*===============================
  Variables
  ===============================*/

:root {
	--color-bg-primary: #fdfefe;
	--color-bg-secondary: #eaecf0;
	--color-bg-success: #badc58;
	--color-bg-warning: #ffbe76;
	--color-bg-error: #ff7979;

	--color-text-primary: #3c3e41;
	--color-text-accent: #8544ef;
	--color-text-success: #6ab04c;
	--color-text-warning: #f0932b;
	--color-text-error: #eb4d4b;

	--color-border-primary: #dce1e4;

	--shadow-m: -0.3125rem -0.3125rem 0.5rem #f2f4f8,
		0.3125rem 0.3125rem 0.4375rem rgba(174, 174, 192, 0.5);
	--shadow-m-hover: inset -0.3125rem -0.3125rem 0.5rem #f9fcff,
		inset 0.3125rem 0.3125rem 0.4375rem rgba(174, 174, 192, 0.75);
	--shadow-l: 0.1875rem 0.1875rem 1.25rem rgba(36, 65, 93, 0.302);

	--border-secondary: 0.0625rem solid rgba(255, 255, 255, 0.4);

	--border-radius-s: 0.375rem;
	--border-radius-l: 0.75rem;

	--button-padding: 0.3125rem 3.125rem;

	--font-primary: 'Montserrat', sans-serif;

	--path-img: './assets/img';

	--container-width: 90rem;
	--container-width-smaller: 72.5rem;
	--header-height: 7.5rem;

	--member-card-width: 20rem;
	--card-padding: 1.875rem;
}

/*===============================
  Base
	===============================*/

html {
	font-size: 16px;
}

body {
	background: var(--color-bg-primary);
	color: var(--color-text-primary);
}

/*===============================
  Spacer
  ===============================*/

.spacer-bottom-xs {
	margin-bottom: 0.625rem;
}

.spacer-bottom-s {
	margin-bottom: 1.25rem;
}

.spacer-bottom-m {
	margin-bottom: 1.5625rem;
}

.spacer-bottom-l {
	margin-bottom: 1.875rem;
}

.spacer-bottom-xl {
	margin-bottom: 4.6875rem;
}

/*===============================
  Layout
  ===============================*/

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.page__header {
}
.page__content {
}
.page__footer {
	margin-top: auto;
}

.container {
	max-width: var(--container-width);
	width: 100%;
	margin: 0 auto;
	padding: 0 1.25rem;
}

.container--smaller {
	max-width: var(--container-width-smaller);
}

/*===============================
  Content
  ===============================*/

.section {
	position: relative;
	padding: 4.6875rem 0;
	border-top: solid 0.125rem var(--color-border-primary);
	text-align: center;
}

/*===============================
  Title
===============================*/

.text-title {
	font-weight: 700;
}

.text-title--l {
	font-size: 3.75rem;
	line-height: 100%;
	letter-spacing: 0.035em;
}

.text-title--m {
	font-size: 1.5rem;
	line-height: 125%;
	letter-spacing: 0.045em;
}

/*===============================
  Text Body
  ===============================*/
.text-body {
	line-height: 140%;
}

.text-body--l {
	font-size: 1.5rem;
}

.text-body--m {
	font-size: 1.125rem;
}

/*===============================
  Text Link
  ===============================*/

.text-link {
	color: var(--color-text-accent);
	text-decoration: none;
	border-bottom: 0.0625rem solid transparent;
}

@media (hover: hover) {
	.text-link:hover {
		border-bottom-color: var(--color-text-accent);
	}
}
/*===============================
  Caption
  ===============================*/

.text-caption {
	line-height: 120%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.text-caption--l {
	font-size: 1.25rem;
}

.text-caption--m {
	font-size: 1rem;
	font-weight: 500;
}

.text-caption--s {
	font-size: 0.875rem;
	font-weight: 500;
}

.text-caption--bolder {
	font-weight: 600;
}

/*===============================
  Text color
  ===============================*/

.text-accent {
	color: var(--color-text-accent);
}

/*===============================
  Icons
  ===============================*/

.icon {
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background: var(--color-text-primary);
	-webkit-mask-position: 50% 50%;
	mask-position: 50% 50%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.icon--twitter {
	-webkit-mask-image: url('../img/icon-twitter.svg');
	mask-image: url('../img/icon-twitter.svg');
}

.icon--telegram {
	-webkit-mask-image: url('../img/icon-telegram.svg');
	mask-image: url('../img/icon-telegram.svg');
}

.icon--mail {
	-webkit-mask-image: url('../img/icon-mail.svg');
	mask-image: url('../img/icon-mail.svg');
}

.icon--github {
	-webkit-mask-image: url('../img/icon-github.svg');
	mask-image: url('../img/icon-github.svg');
}

/*===============================
  Button
  ===============================*/

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 3.75rem;
	box-shadow: var(--shadow-m);
	padding: var(--button-padding);
	border-radius: var(--border-radius-s);
	border: var(--border-secondary);
	background: linear-gradient(138.32deg, rgba(0, 0, 0, 0.5) 8.26%, rgba(255, 255, 255, 0.5) 91.02%),
		#eaecf0;
	background-blend-mode: soft-light, normal;
	color: var(--color-text-primary);
	text-decoration: none;
}

/*===============================
 Rounded Button
  ===============================*/

.rounded-button {
	border: var(--border-secondary);
	background: linear-gradient(138.32deg, rgba(0, 0, 0, 0.5) 8.26%, rgba(255, 255, 255, 0.5) 91.02%),
		#eaecf0;
	background-blend-mode: soft-light, normal;
	box-shadow: var(--shadow-m);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

@media (hover: hover) {
	.rounded-button:hover .rounded-button__icon {
		background-color: var(--color-text-accent);
	}
}

/*===============================
  Buttons Hover
  ===============================*/

@media (hover: hover) {
	.button:hover,
	.rounded-button:hover {
		background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%),
			#eaecf0;
		background-blend-mode: soft-light, normal;
		box-shadow: inset -0.3125rem -0.3125rem 0.5rem #f9fcff,
			inset 0.3125rem 0.3125rem 0.4375rem rgba(174, 174, 192, 0.75);
	}
}

/*===============================
  Rounded Buttons Group
  ===============================*/

.rounded-buttons-group {
	display: flex;
	flex-wrap: wrap;
}

.rounded-buttons-group__item:not(:first-child) {
	margin-left: 1.25rem;
}

/*===============================
  Logo
  ===============================*/

.logo {
	display: block;
}

/*===============================
  Page Header
  ===============================*/

.page-header {
	background: var(--color-bg-secondary);
	border-bottom: 0.125rem solid var(--color-border-primary);
}

.page-header__in {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*===============================
  Page Menu
  ===============================*/

.page-menu {
	display: flex;
	box-shadow: var(--shadow-m);
	border-radius: var(--border-radius-s);
	border: var(--border-secondary);
}

.page-menu__item:not(:first-child) {
	margin: 0 0 0 0.625rem;
}

.page-menu__link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	color: var(--color-text-primary);
	padding: var(--button-padding);
	height: 4.375rem;
}

.page-menu__link:after {
	content: ' ';
	display: none;
	position: absolute;
	border-radius: var(--border-radius-s);
	border: var(--border-secondary);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	box-shadow: var(--shadow-m);
}

.page-menu__link--active {
	pointer-events: none;
}
.page-menu__link--active::after {
	display: block;
}

@media (hover: hover) {
	.page-menu__link:hover {
		box-shadow: var(--shadow-m);
		color: var(--color-text-accent);
	}

	.page-menu__link:hover:after {
		display: block;
	}
}

/*===============================
  Card
  ===============================*/

.card {
	padding: var(--card-padding);
	border-radius: var(--border-radius-l);
	box-shadow: var(--shadow-l);
	background: linear-gradient(310.59deg, #f2f3f6 3.8%, #e5e6ec 119.99%);
}

.card__photo {
	width: 100%;
	background: #ccc;
	position: relative;
	border-radius: inherit;
	overflow: hidden;
}

.card__photo__img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	position: relative;
}

/*===============================
  Section Main
  ===============================*/

.section-main {
	min-height: calc(100vh - var(--header-height));
	display: flex;
	align-items: center;
	overflow: hidden;
	background-color: var(--color-bg-secondary);
	border-top: 0;
	text-align: left;
}

.section-main::before {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(calc(var(--container-width) / 2), -50%);
	content: '';
	display: block;
	width: 50rem;
	height: 39.875rem;
	background-image: url('../img/bg-tag.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.section-main__content {
	max-width: 45rem;
}

.section-main__buttons {
	display: flex;
}
.section-main__buttons__item:not(:first-child) {
	margin-left: 3.75rem;
}

/*===============================
  Section About
  ===============================*/

.section-about {
}

/*===============================
  Section Team
  ===============================*/

.section-team {
	background-color: var(--color-bg-secondary);
}

/*===============================
  Member card
  ===============================*/

.member-card {
	--scale: 0.38;
	--photo-height: calc(var(--member-card-width) - (var(--card-padding) * 2));

	display: flex;
	flex-direction: column;
	width: var(--member-card-width);
	overflow: hidden;
}

.member-card__photo {
	aspect-ratio: 1/1;
	transform-origin: center top;
}

.member-card__photo:before {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
	background: url('../img/user-profile.svg') 50% 50% no-repeat;
	background-size: contain;
	opacity: 20%;
}

.member-card__photo__img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	position: relative;
}

.member-card__content {
	position: relative;
}

.member-card__text {
	margin-top: 1.25rem;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

.member-card__contacts {
	position: relative;
	margin-top: auto;
}

@media (hover: hover) {
	.member-card__photo,
	.member-card__content,
	.member-card__text {
		transition-duration: 0.5s;
	}

	.member-card__photo,
	.member-card__content {
		transition-property: transform;
	}

	.member-card__text {
		transition-property: opacity;
	}

	.member-card:hover .member-card__photo {
		transform: scale(var(--scale));
	}

	.member-card:hover .member-card__content {
		transform: translateY(calc((var(--photo-height) - var(--photo-height) * var(--scale)) * (-1)));
	}

	.member-card:hover .member-card__text {
		opacity: 1;
	}
}

/*===============================
  Member Card Group
  ===============================*/

.member-card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.member-card-group::after {
	content: '';
	width: var(--member-card-width);
}

.member-card-group__item {
	display: flex;
	margin-top: calc((min(100vw, var(--container-width-smaller)) - 3 * var(--member-card-width)) / 2);
}

.member-card-group__item--vip {
	width: 100%;
	margin-top: 0;
	display: flex;
	justify-content: center;
}



/*===============================
  Project Card
  ===============================*/

.project-card {
	text-align: left;
}

.project-card__photo {
	height: 21.875rem;
}

.project-card__photo__img {
}

@media (hover: hover) {
	.project-card__photo__img {
		transition: transform 0.5s;
	}
	.project-card:hover .project-card__photo__img {
		transform: scale(1.2);
	}
}

/*===============================
  Project Card Group
  ===============================*/

.project-card-group {
	display: grid;
	gap: 2.5rem;
	grid-template-columns: repeat(auto-fit, minmax(31.25rem, 0.7fr));
}

/*===============================
  Page Footer
  ===============================*/

.page-footer {
	background-color: var(--color-bg-secondary);
	border-top: 0.125rem solid var(--color-border-primary);
}
.page-footer__in {
	min-height: 9.375rem;
	padding: 0.625rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.page-footer__contacts {
	display: flex;
	align-items: center;
	gap: 0 0.9375rem;
}

.page-footer__copy {
	text-align: right;
}
