/*===============================
  Variables
  ===============================*/

:root {
	--color-bg-primary: #fdfefe;
	--color-bg-secondary: #eaecf0;
	--color-bg-success: #badc58;
	--color-bg-warning: #ffbe76;
	--color-bg-error: #ff7979;

	--color-text-primary: #3c3e41;
	--color-text-accent: #8544ef;
	--color-text-success: #6ab04c;
	--color-text-warning: #f0932b;
	--color-text-error: #eb4d4b;

	--color-border-primary: #dce1e4;

	--shadow-m: -5px -5px 8px #f2f4f8, 5px 5px 7px rgba(174, 174, 192, 0.5);
	--shadow-m-hover: inset -5px -5px 8px #f9fcff, inset 5px 5px 7px rgba(174, 174, 192, 0.75);
	--shadow-l: 3px 3px 20px rgba(36, 65, 93, 0.302);

	--border-secondary: 1px solid rgba(255, 255, 255, 0.4);

	--border-radius-s: 6px;
	--border-radius-l: 12px;

	--button-padding: 5px 50px;

	--font-primary: 'Montserrat', sans-serif;

	--path-img: './assets/img';

	--container-width: 1440px;
	--container-width-smaller: 1160px;
	--header-height: 120px;

	--member-card-width: 320px;
}

/*===============================
  Spacer
  ===============================*/

.spacer-bottom-xs {
	margin-bottom: 10px;
}

.spacer-bottom-s {
	margin-bottom: 20px;
}

.spacer-bottom-m {
	margin-bottom: 25px;
}

.spacer-bottom-l {
	margin-bottom: 30px;
}

.spacer-bottom-xl {
	margin-bottom: 75px;
}

/*===============================
  Layout
  ===============================*/

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.page__header {
}
.page__content {
}
.page__footer {
	margin-top: auto;
}

.container {
	max-width: var(--container-width);
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.container--smaller {
	max-width: var(--container-width-smaller);
}

/*===============================
  Content
  ===============================*/

.section {
	position: relative;
	padding: 75px 0;
	border-top: solid 2px var(--color-border-primary);
	text-align: center;
}

/*===============================
  Title
===============================*/

.text-title {
	font-weight: 700;
}

.text-title--l {
	font-size: 60px;
	line-height: 100%;
	letter-spacing: 0.035em;
}

.text-title--m {
	font-size: 24px;
	line-height: 125%;
	letter-spacing: 0.045em;
}

/*===============================
  Text Body
  ===============================*/
.text-body {
	line-height: 140%;
}

.text-body--l {
	font-size: 24px;
}

.text-body--m {
	font-size: 18px;
}

/*===============================
  Caption
  ===============================*/

.text-caption {
	line-height: 120%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

.text-caption--l {
	font-size: 20px;
}

.text-caption--m {
	font-size: 16px;
	font-weight: 500;
}

.text-caption--s {
	font-size: 14px;
	font-weight: 500;
}

.text-caption--bolder {
	font-weight: 600;
}

/*===============================
  Text color
  ===============================*/

.text-accent {
	color: var(--color-text-accent);
}

/*===============================
  Icons
  ===============================*/

.icon {
	display: block;
	width: 24px;
	height: 24px;
	background: var(--color-text-primary);
	-webkit-mask-position: 50% 50%;
	mask-position: 50% 50%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
}

.icon--twitter {
	-webkit-mask-image: url('../img/icon-twitter.svg');
	mask-image: url('../img/icon-twitter.svg');
}

.icon--telegram {
	-webkit-mask-image: url('../img/icon-telegram.svg');
	mask-image: url('../img/icon-telegram.svg');
}

.icon--mail {
	-webkit-mask-image: url('../img/icon-mail.svg');
	mask-image: url('../img/icon-mail.svg');
}

.icon--github {
	-webkit-mask-image: url('../img/icon-github.svg');
	mask-image: url('../img/icon-github.svg');
}

/*===============================
  Button
  ===============================*/

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 60px;
	box-shadow: var(--shadow-m);
	padding: var(--button-padding);
	border-radius: var(--border-radius-s);
	border: var(--border-secondary);
	background: linear-gradient(138.32deg, rgba(0, 0, 0, 0.5) 8.26%, rgba(255, 255, 255, 0.5) 91.02%),
		#eaecf0;
	background-blend-mode: soft-light, normal;
	color: var(--color-text-primary);
	text-decoration: none;
}

/*===============================
 Rounded Button
  ===============================*/

.rounded-button {
	border: var(--border-secondary);
	background: linear-gradient(138.32deg, rgba(0, 0, 0, 0.5) 8.26%, rgba(255, 255, 255, 0.5) 91.02%),
		#eaecf0;
	background-blend-mode: soft-light, normal;
	box-shadow: var(--shadow-m);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

@media (hover: hover) {
	.rounded-button:hover .rounded-button__icon {
		background-color: var(--color-text-accent);
	}
}

/*===============================
  Buttons Hover
  ===============================*/

@media (hover: hover) {
	.button:hover,
	.rounded-button:hover {
		background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%),
			#eaecf0;
		background-blend-mode: soft-light, normal;
		box-shadow: inset -5px -5px 8px #f9fcff, inset 5px 5px 7px rgba(174, 174, 192, 0.75);
	}
}

/*===============================
  Rounded Buttons Group
  ===============================*/

.rounded-buttons-group {
	display: flex;
	flex-wrap: wrap;
}

.rounded-buttons-group__item:not(:first-child) {
	margin-left: 20px;
}

/*===============================
  Page Header
  ===============================*/

.page-header {
	background: var(--color-bg-secondary);
	border-bottom: 2px solid var(--color-border-primary);
}

.page-header__in {
	height: var(--header-height);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/*===============================
  Page Menu
  ===============================*/

.page-menu {
	display: flex;
	box-shadow: var(--shadow-m);
	border-radius: var(--border-radius-s);
	border: var(--border-secondary);
}

.page-menu__item:not(:first-child) {
	margin: 0 0 0 10px;
}

.page-menu__link {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	color: var(--color-text-primary);
	padding: var(--button-padding);
	height: 70px;
}

.page-menu__link:after {
	content: ' ';
	display: none;
	position: absolute;
	border-radius: var(--border-radius-s);
	border: var(--border-secondary);
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	box-shadow: var(--shadow-m);
}

.page-menu__link--active {
	pointer-events: none;
}
.page-menu__link--active::after {
	display: block;
}

@media (hover: hover) {
	.page-menu__link:hover {
		box-shadow: var(--shadow-m);
		color: var(--color-text-accent);
	}

	.page-menu__link:hover:after {
		display: block;
	}
}

/*===============================
  Card
  ===============================*/

.card {
	border-radius: var(--border-radius-l);
	box-shadow: var(--shadow-l);
	background: linear-gradient(310.59deg, #f2f3f6 3.8%, #e5e6ec 119.99%);
}

/*===============================
  Section Main
  ===============================*/

.section-main {
	min-height: calc(100vh - var(--header-height));
	display: flex;
	align-items: center;
	overflow: hidden;
	background-color: var(--color-bg-secondary);
	border-top: 0;
	text-align: left;
}

.section-main::before {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(calc(var(--container-width) / 2), -50%);
	content: '';
	display: block;
	width: 800px;
	height: 638px;
	background-image: url('../img/bg-tag.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

.section-main__content {
	max-width: 720px;
}

.section-main__buttons {
	display: flex;
}
.section-main__buttons__item:not(:first-child) {
	margin-left: 60px;
}

/*===============================
  Section About
  ===============================*/

.section-about {
}

/*===============================
  Section Team
  ===============================*/

.section-team {
	background-color: var(--color-bg-secondary);
}

/*===============================
  Member card
  ===============================*/

.member-card {
	--padding: 30px;
	--scale: 0.38;
	--photo-height: calc(var(--member-card-width) - (var(--padding) * 2));

	width: var(--member-card-width);
	padding: var(--padding);
	overflow: hidden;
}

.member-card__photo {
	aspect-ratio: 1/1;
	width: 100%;
	background: #ccc;
	position: relative;
	border-radius: inherit;
	overflow: hidden;
	transform-origin: center top;
}

.member-card__photo:before {
	display: block;
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	transform: translate(-50%, -50%);
	background: url('../img/user-profile.svg') 50% 50% no-repeat;
	background-size: contain;
	opacity: 20%;
}

.member-card__photo__img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	position: relative;
}

.member-card__content {
	position: relative;
}

.member-card__text {
	margin-top: 20px;
	opacity: 0;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
}

@media (hover: hover) {
	.member-card__photo,
	.member-card__content,
	.member-card__text {
		transition-duration: 0.5s;
	}

	.member-card__photo,
	.member-card__content {
		transition-property: transform;
	}

	.member-card__text {
		transition-property: opacity;
	}

	.member-card:hover .member-card__photo {
		transform: scale(var(--scale));
	}

	.member-card:hover .member-card__content {
		transform: translateY(calc((var(--photo-height) - var(--photo-height) * var(--scale)) * (-1)));
	}

	.member-card:hover .member-card__text {
		opacity: 1;
	}
}

/*===============================
  Member Card Group
  ===============================*/

.member-card-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.member-card-group::after {
	content: '';
	width: var(--member-card-width);
}

.member-card-group__item {
	margin-top: calc((min(100vw, var(--container-width-smaller)) - 3 * var(--member-card-width)) / 2);
}

.member-card-group__item--vip {
	width: 100%;
	margin-top: 0;
	display: flex;
	justify-content: center;
}
