/*=========================
  Burger
===========================*/

.burger {
	outline: none;
	border: none;
	background: none;
	height: 3.125rem;
	width: 3.125rem;
	display: flex;
	flex-direction: column;
	z-index: 2;
	cursor: pointer;
	padding: 0;
	justify-content: center;
}

.burger--opened .burger__dash:nth-child(2) {
	opacity: 0.5;
	background: red;
}

.burger--opened .burger__dash:nth-child(1) {
	transform: translateY(var(--translate-y));
	background-color: blue;
}

.burger--opened .burger__dash:nth-child(3) {
	transform: translateY(calc(var(--translate-y) * -1));
	background-color: green;
}

.burger__dash {
	--height: 0.3125rem;
	--margin: 0.375rem;
	--translate-y: calc(var(--margin) * 2 + var(--height));

	width: inherit;
	height: var(--height);
	background-color: var(--color-text-primary);
	margin: var(--margin) 0;
}

.burger__dash:first-child {
	margin-top: 0;
}

.burger__dash:last-child {
	margin-bottom: 0;
}

@media (min-width: 1025px) {
	.burger {
		display: none;
	}
}
