/*===============================
  Icons
  ===============================*/

  .icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--color-text-primary);
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
  }
  
  .icon--twitter {
    -webkit-mask-image: url('../../img/icon-twitter.svg');
    mask-image: url('../../img/icon-twitter.svg');
  }
  
  .icon--telegram {
    -webkit-mask-image: url('../../img/icon-telegram.svg');
    mask-image: url('../../img/icon-telegram.svg');
  }
  
  .icon--mail {
    -webkit-mask-image: url('../../img/icon-mail.svg');
    mask-image: url('../../img/icon-mail.svg');
  }
  
  .icon--github {
    -webkit-mask-image: url('../../img/icon-github.svg');
    mask-image: url('../../img/icon-github.svg');
  }
  
  .icon--website {
    -webkit-mask-image: url('../../img/icon-website.svg');
    mask-image: url('../../img/icon-website.svg');
  }