/*===============================
  Page Menu
  ===============================*/

  .page-menu__link {
    color: var(--color-text-primary);
    text-decoration: none;
  }
  
  @media (min-width: 1025px) {
    .page-menu {
      display: flex;
      box-shadow: var(--shadow-m);
      border-radius: var(--border-radius-s);
      border: var(--border-secondary);
    }
  
    .page-menu__item:not(:first-child) {
      margin: 0 0 0 0.625rem;
    }
  
    .page-menu__link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: var(--button-padding);
      height: 4.375rem;
    }
  
    .page-menu__link:after {
      content: ' ';
      display: none;
      position: absolute;
      border-radius: var(--border-radius-s);
      border: var(--border-secondary);
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      box-shadow: var(--shadow-m);
    }
  
    .page-menu__link--active {
      pointer-events: none;
    }
    .page-menu__link--active::after {
      display: block;
    }
  }
  
  @media (max-width: 1024px) {
    .page-menu {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: var(--color-bg-secondary);
      text-align: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
      transform: translateX(-100%);
      transition: transform 0.5s;
    }

    .page-menu--opened {
      transform: translateX(0);
    }
  
    .page-menu__link {
      display: block;
      padding: 2rem 1rem;
      font-size: 2rem;
    }
  
    .page-menu__link--active {
      color: var(--color-text-accent);
    }
  }
  
  @media (hover: hover) {
    .page-menu__link:hover {
      box-shadow: var(--shadow-m);
      color: var(--color-text-accent);
    }
  
    .page-menu__link:hover:after {
      display: block;
    }
  }